<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">AtCoder Clans</h1>
      <p>【非公式】AtCoderがもっと楽しくなるリンク集です。有志による非公式サービス・ツール・ライブラリ・記事などをまとめています。</p>
      <h2 class="project-tagline"></h2>
      <a href= "/AtCoderClans/" class="btn">Home</a>
      <a href= "/AtCoderClans/scripts" class="btn">Scripts</a>
      <a href= "/AtCoderClans/cli" class="btn">Command line tools</a>
      <a href= "/AtCoderClans/libraries" class="btn">Libraries and snippets</a>
      <a href= "/AtCoderClans/articles" class="btn">Articles and Books</a>
      <a href="https://github.com/KATO-Hiro/AtCoderClans" class="btn">View on GitHub</a>
    </section>

    <section class="main-content">
      <h1 id="atcoderclans">AtCoder Clans</h1>

      <p><img src="https://img.shields.io/github/workflow/status/KATO-Hiro/AtCoderHub/TOC%20Generator" alt="GitHub Workflow Status" />
      <a href="https://github.com/KATO-Hiro/AtCoderHub/issues"><img src="https://img.shields.io/github/issues/KATO-Hiro/AtCoderHub" alt="Issues" /></a>
      <a href="https://github.com/KATO-Hiro/AtCoderHub/pulls"><img src="https://img.shields.io/github/issues-pr/KATO-Hiro/AtCoderHub.svg" alt="Pull Requests" /></a>
      <a href="https://github.com/KATO-Hiro/AtCoderHub/blob/master/LICENSE"><img src="https://img.shields.io/badge/license-MIT-brightgreen.svg" alt="License: MIT" /></a>
      <a href="https://twitter.com/k_hiro1818"><img src="https://img.shields.io/twitter/follow/k_hiro1818?style=social" alt="Twitter Follow" /></a></p>

      <p>【非公式】競技プログラミングサイト<a href="https://atcoder.jp/">AtCoder</a>がもっと楽しくなるリンク集です。有志による非公式サービス・ツール・ライブラリ・記事などをまとめています。</p>

      <h2 id="cautions">注意事項</h2>

      <ul>
        <li>
          <p><a href="https://atcoder.jp/">AtCoder</a>公式（以降、公式と表記）の仕様変更や諸事情により、公開されているサービス・ツールなどが予告なく利用できなくなる場合があります。ご了承ください。</p>
        </li>

        <li>
          <p>サービス・ツールなどに関するお問い合わせは、<span style="color: red"><strong>開発者が公開している連絡先に直接行ってください</strong></span>。公式のサポート対象外のため、運営チームへの問い合わせは絶対しないでください。</p>
        </li>

        <li>
          <p>各サービス・ツールなどの説明ページにあるように、ご利用は自己責任でお願いします。</p>
        </li>
      </ul>

      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-owner">
          <a href="https://github.com/KATO-Hiro/AtCoderClans">AtCoderClans</a> is maintained by <a href="https://github.com/KATO-Hiro">KATO-Hiro</a>.
        </span>
        <span class="site-footer-credits">
          This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.
        </span>
      </footer>
    </section>
  </body>
</html>
