on: push
name: TOC Generator
jobs:
  generateTOC:
    name: TOC Generator
    runs-on: ubuntu-latest
    steps:
      - uses: technote-space/toc-generator@v2
        with:
          TARGET_PATHS: README*.md,index.md,for_beginners.md,web_app.md,scripts.md,cli.md,libraries.md,media.md,milestones.md,archived.md,related_contest_sites.md, contact.md
          TOC_TITLE: ''
          COMMIT_MESSAGE: ':books: Update TOC'
